<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <!-- The routerLink must be the same as the specified in app.routes.ts, the routerlinkActive is refered to the hover -->
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if (accountService.currentUser()) {
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
            }
            <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
            </li>
        </ul>

        @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
                Welcome {{accountService.currentUser()?.username | titlecase}}
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        }


        @if (!accountService.currentUser()) {
        <!-- 
            The ngSubmit is the event that the form calls
            The name is the field identifier
            The ngModel is to bound the field data to the variable. It has two-way data binding
            Button type submit: allows the key "enter" to work
        -->
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" role="search">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                type="password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
        }
    </div>
</nav>